%h3= "#{current_member.first_name}'s Team Page"
- @my_team.each do |team|
  %ul
    %li= link_to "team #{team.number}", team_path(team)

%br
%ul
  %li Do members need to see ALL teams? or just their team
  %li needs to have teams ordered together somehow
  %li team members visible
  %li event date
