%h2 My team info
%h4 Team Number: #{@my_team.number}
%ul
  %h5 Team Members
  -@my_team.members.each do |member|
    %li= link_to "#{member.name}", member_path(member.id)

%h5 Upcoming events for your team
-@my_team.events.map do |event|
  -if event.date >= Date.today
    %li= event.date
  -else
    %p No upcoming events for your team

%h5 Special announcements
%h5 leave notes?
