@import 'header';

.container {
  @include outer-container;
  position: relative;
  top: 60px;
  margin-bottom: 20px;
}

#notifications {
  margin-bottom: 45px;
}

.section-title {
  font-size: 2em;
  color: $base-border-color;

  h6 {
    font-size: 0.7em;
    color: darken($base-border-color, 30)
  }
}
