@import 'header';

.full-container {
  margin-bottom: 20px;;
  width: 100%
}

.centered-container {
  @include outer-container;
}

#notifications {
  text-align: center;
}

#header {
  height: 52px;
}

#content {
  padding: 10px;
}

.section-title {
  margin-top: 40px;
  font-size: 1em;

  .go-back-link {
    text-decoration: underline;
    padding-bottom: 20px;
  }

  h3 {
    text-align: center;
  }

  h6 {
    font-size: 0.7em;
    color: darken($base-border-color, 30)
  }
}

.hidden {
  display: none;
}

.header-info-placeholder {
  text-align: center;

  h5 {
    font-weight: normal;
    padding-top: 20px;
    color: lighten($medium-gray, 0.5);
  }
}

.info-placeholder {
  padding-top: 5px;
  color: lighten($medium-gray, 0.5);
}

.add-link {
  float: right;

  h5 {
    color: white;
    font-family: $base-font-family;
  }

  .archives-link {
    a {
      color: transparentize($blue, .55);

      &:hover {
        color: $blue;
      }
    }
  }
}
