table {
  border-collapse: collapse;
  margin: ($base-spacing / 2) 0;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 50px;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15);
  font-weight: bold;
  padding: ($base-spacing / 2) 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: ($base-spacing / 3) 0;
  // font-size: 16px;

  input[type="text"] {
    width: 50%;
  }
}

tr,
td,
th {
  vertical-align: middle;
  word-wrap: break-word;
  font-size: 1.0em;
}

.hover-table {
  tr:hover {
    background-color: $light-red;
  }
}

.members-controller.index-action,
.vendors-controller.index-action, {
  .table-minimal {
    $table-border-color: $base-border-color;
    $table-border: 1px solid $table-border-color;
    $table-background: $base-background-color;
    $table-header-color: lighten($table-background, 10);
    $table-hover-color: darken($table-background, 10);
    $table-stripe-color: darken($table-background, 4);
    $table-stripe-color-hover: darken($table-stripe-color, 5);
    $table-padding: 0.5em;

    border-collapse: separate;
    border-spacing: 0;

    tbody {
      tr:hover > td, tr:hover > th {
        background-color: $table-hover-color;
      }
      tr:first-child td {
        border-top: 2px solid $table-border-color;
      }
    }

    thead {
      th {
        background-color: $table-header-color;
        padding: $table-padding;
        border-bottom: 0px;
      }
    }

    tbody {
      background-color: $table-background;

      td {
        padding: $table-padding;
        border-top: 1px solid $table-border-color;
        border-bottom: 0px;
        font-size: 0.9em;

        button {
          @include button(simple, $table-background);
          margin-right: 0.5em;
          display: inline-block;
          width: 100%;
          margin-bottom: .3em;
          outline: none;

          @include media($medium-screen) {
            width: auto;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
