%h2 Shopping Events this Season
.cards
  -@events.each do |event|
    .card
      / .card-image
      /   %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png"}/
      .card-header
        %p=event.date_in_words
      .card-copy
        %p="Team: #{event.team.number}"
        %p="Hosted at: #{event.location}"
        %p="This is event: event id is #{event.id}"
      .card-stats
        %ul
          %li
            =link_to "Available products", event_inventories_path(event)
          %li
            =link_to "My order"
          %li
            =event.involved_vendors.pluck(:vendor_id).uniq.count
            %span Vendors
          %li
            =event.inventory.count
            %span Products
