.centered-container
  .welcome
    %h3 LINCOLN
    %h1 CO-OP
    %h3 PARK

.full-container
  .background_picture

.centered-container
  .about-us-header
    %h3 About us
  .about-us-content
    %p= "Alkaline float tank as we honor asana co-create, microfestival saturn return. Non-profit tofurkey shamanic cheerleader, crystalline tripping on nudist change agent bodyworker. Safe space third eye empowering messages prius forest jasmine light energy, tai chi equinox. Yerba matte midwifery carob reiki master solstice cosmic heartbeat of our ancestors,"
