.welcome
  %h3 LINCOLN
  %h1 CO-OP
  %h3 PARK

.background_picture


.stuff
  %p= "Shopping Procedures: Each member must spend a minimum of $125 on basic groceries at each shop (not including special orders, meat or coffee). Remember that this is a cooperative venture, and at each shop we must all step in and buy a few things we don’t really want, need, or know what to do with as each shop has its own unique miscalculations. Everything perishable must be sold or we will be billed for loss as a group."

  %p= "Special Order: Special requests and suggestions may be made to the shopping team no later than 10 days prior to the shop. Please limit your requests and be considerate—you can easily pick up your own orders (see below). If you special order, you must arrive by 9AM to claim your particular items before the shop begins. All special orders not taken care of in this manner will be converted back to general merchandise and available for general sale. If you are requesting a portion of a case and the balance does not sell, you are required to purchase any remaining units. There are no guarantees on delivery, and fulfillment of the order is up to the discretion of the shopping team."
  %p= "Special Order: Special requests and suggestions may be made to the shopping team no later than 10 days prior to the shop. Please limit your requests and be considerate—you can easily pick up your own orders (see below). If you special order, you must arrive by 9AM to claim your particular items before the shop begins. All special orders not taken care of in this manner will be converted back to general merchandise and available for general sale. If you are requesting a portion of a case and the balance does not sell, you are required to purchase any remaining units. There are no guarantees on delivery, and fulfillment of the order is up to the discretion of the shopping team."
  %p= "Special Order: Special requests and suggestions may be made to the shopping team no later than 10 days prior to the shop. Please limit your requests and be considerate—you can easily pick up your own orders (see below). If you special order, you must arrive by 9AM to claim your particular items before the shop begins. All special orders not taken care of in this manner will be converted back to general merchandise and available for general sale. If you are requesting a portion of a case and the balance does not sell, you are required to purchase any remaining units. There are no guarantees on delivery, and fulfillment of the order is up to the discretion of the shopping team."
