.centered-container
  .welcome
    %h3 LINCOLN
    %h1 CO-OP
    %h3 PARK

.full-container
  .background_picture

.about-us-header
  %h3 About us
.about-us-content
  %br
  %p
    We are the Lincoln Park Co-op! We find locally sourced goods at whole-sale prices, which promotes local vendors, encourages thoughtful spending, and guarantees delicious food.
  %p
    Our group is passionate about food. Beyond the feigned foodie, we care about our products. We have created a small community of friends who appreciate the delicacy of raw sheep's milk cheese, and the fine quality of grass-fed beef. Whether we are cooking for families of 6, a roommate of one, or preparing a romantic dinner for oneself, we come together to shop well and eat well.
  %p
    We are a not-for-profit LLC coop where all are welcome. We do not discriminate on gender, race, sexuality, religion, dietary restrictions (although be warned there are many carnivorous recipes).

  %p Welcome!
