.cart-items-table {
  tr {
    &:hover {
      background-color: $light-red;
    }
  }

  .tax-box {
    th {
      padding-top: 100px;
    }
  }

  .cart-total {
    font-size: 1.5em;
  }

  .cart-item-amount {
    // width: 140px;
  }

  input[type="submit"] {
    font-size: 0.9em;

    &:hover {
      background-color: red;
    }
  }
}
