.cart-items-table {
  font-size: 12px;

  span.price {
    color: $dark-red;
    display: block;
  }

  th.total, td.cart-item-total {
    padding-left: 40px;
  }

  td.cart-item-amount {
    input{
      width: 40px;
    }
  }

  @include media($medium-screen) {
    font-size: 15px;

    tr {
      &:hover {
        background-color: $light-red;
      }
    }

    span.price {
      display: inline;
    }

    .cart-total {
      font-size: 1.5em;
    }

    th.cart-item-amount{
      padding-left: 20px;
    }

    td.cart-item-amount {
      input{
        width: 70px;
      }
    }

    input[type="submit"] {
      font-size: 0.9em;

      &:hover {
        background-color: red;
      }
    }

    .tax-box {
      th {
        padding-top: 100px;
      }
    }
  }
}
