.sign-up-form {
  @extend %centered-form;
}

.sign-in-form {
  @extend %centered-form;

  .form-field {
    margin-bottom: 0;
  }
}

.forgot-password-form {
  @extend %centered-form;
}

.form-actions {
  margin: 0 0 1em;
}

.required-fields {
  padding-top: 10px;
  color: darken(red, 20);
  font-size: 1em;
  padding-bottom: 15px;
  font-weight: normal;
}

.password-input {
  width: 400px;
}
