.sign-up-form {
  @extend %centered-form;
}

.sign-in-form {
  @extend %centered-form;
}

.forgot-password-form {
  @extend %centered-form;
}

.form-actions {
  margin: 0 0 1em;
}

.required-fields {
  color: darken(red, 20);
  font-size: 1em;
  padding-bottom: 15px;
  margin-top: -10px;
  font-weight: normal;
}
