.sign-up-form {
  @extend %centered-form;
}

.sign-in-form {
  @extend %centered-form;
}

.forgot-password-form {
  @extend %centered-form;
}

.form-actions {
  margin: 0 0 1em;
}

.required-fields {
  color: darken(red, 20);
  font-size: 1em;
  padding-bottom: 15px;
  // margin-top: -30px;
  font-weight: normal;
  @include shift(2)
}

.create-new-member-form {
  label {
    @include span-columns(2);
    @include shift(2);


  }

  input[type="text"], select {
      width: 35%;
  }

  // .first-name-input, .email-input, .street-input, .city-input {
  //   @include span-columns(8);
  //   @include omega();
  //   margin-top: 10px;
  // }

}

.password-input {
  width: 400px;
}
