.new-event-form {
  padding: 20px;

  .date-input {
    width: 180px;
  }

  input[type="radio"] {
    float: left;
    margin-right: 20px;
  }

  .team-leader-names {
    label {
      font-weight: normal;
    }
  }
}

.edit-event-link {
  float: right;
  margin-top: -35px;
  font-weight: normal;

  :hover {
    color: red;
  }
}

.cart-count {
  .badges {
    float: left;
    margin-left: 110px;
    display: inline;
    margin-top: -25px;
  }
}

.past-events {
  margin-top: 20px;
  padding-bottom: 100px;
}

.today-event {
  border-bottom: $medium-gray dashed 6px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  // margin-top: 50px;

  .card {
  }

  button {
    background-color: lighten($dark-red, 1);

    .shop-now {
      h4{
        a {
          color: white;
          border-radius: 20px;
          padding: 10px;
        }
      }
    }

    &:hover {
      background-color: darken($dark-red, 10);
    }
  }
}

