.member-form {
  .field {
    @include span-columns(12);
  }

  @include media($medium-screen) {
    .field {
      @include span-columns(6);
      @include omega(2n);
    }

    .street-input {
      @include span-columns(8);
    }
    .unit-input {
      @include span-columns(4);
      @include omega;
      display: inline-block;
    }

    .city-input {
      @include span-columns(6);
    }

    .state-input {
      @include span-columns(2);
    }

    .zip-input {
      @include span-columns(4);
      @include omega;
      padding-bottom: 30px;
    }
  }

  textarea {
    height: 100px;
  }

  .form-actions {
    text-align: right;
  }
}

.team-display {
  display: block;
  margin-top: 20px;
}

.team-info {
  @include clearfix;
  padding-top: 30px;

  .team-members {
    ul {
      @include shift(0);
    }
  }
}
