.background_picture {
  background-image: asset-url("cros2.jpg");
  background-repeat: no-repeat;
  border-image-height: 50%;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  margin-top: 300px;
  top: 0;
  left: 0;
}

.welcome {
  text-align: center;
  display:block;
  // right: 100;
  position: absolute;
  margin-top: 100px;

  h1 {
    display:block;
    font-family: $serif;
    font-size: 1.8em;
  }
}

.index-headers {
  margin-bottom: 50px;
}
