.category-menu {
  ul {
    margin-bottom: 30px;
    text-align: center;
  }

  li {
  display: inline;
  padding: 20px;
  color: $light-gray;
  }

}

.add-product-link {
  a {
    color: white;
    font-size: 20px;
  }
}

.add-product-card {
  // background-color: red;

}

.vertical-product-form {
  @include clearfix;
  display: inline;

  .vendor-name, select {
  }

  p {
    vertical-align: text-bottom;
    @include span-columns(2);
  }

  .product-unit {
    width: 80px;

  }

  .product-name {
    width: 150px;
  }

  .product-price, .product-amount {
    width: 60px;
  }

  .form-action {

    input[type="submit"] {
      margin-top: 25px;
    }

    button {
      margin-top: 25px;
    }
  }
}

.no-products {
    margin-top: 50px;
    color: transparentize($dark-red, .16);
}
