.category-menu {
  ul {
    margin-bottom: 30px;
    text-align: center;
  }

  li {
  display: inline;
  padding: 20px;
  color: $light-gray;
  }

}

.add-product-link {
  a {
    color: white;
    font-size: 20px;
  }
}

.product-table {
}

.vertical-product-form {
  @include clearfix;
  display: inline;


  p {
  vertical-align: text-bottom;
  @include span-columns(2);

    .product-name {

    }

    .product-price {
      input {
        width: 50%;
      }
    }
  }
}
