.product-table {
  table {
    margin-bottom: 0;
  }

  span.price {
    display: block;
  }

  @include media($medium-screen) {
    span.price {
      display: inline;
    }
  }

  .product-name {
    width: 100px;

    @include media($medium-screen) {
      font-size: 1.4em;
      font-weight: normal;
      font-family: $serif;
      width: 60%;
    }
  }

  th.product-amount {
    width: 68px;


    @include media($medium-screen) {
      width: 130px;
    }
  }

  .total-price {
    width: 80px;

    @include media($medium-screen) {
      width: 150px;
    }
  }

  span.price {
    color: $dark-red;
  }

  td {
    line-height: 1.5em;
  }

  .edit {
    width: 70px;
    @include media($medium-screen) {
      width: 100px;
    }
  }

  .edit-button {
    background-color: $light-gray;
    font-size: 0.9em;

    a {
      color: white;
    }

    &:hover {
      background-color: darken($light-gray, 20);
    }
  }
}

.add-product-link {
  a {
    color: white;
    font-size: 20px;
  }
}

.vertical-product-form {
  @include clearfix;
  margin-top: 30px;
  padding: 20px;
  background-color: $light-blue;
  border-radius: 5px;
  box-shadow: 2px 2px 6px darken($light-blue, 10);

  label {
    font-size: 16px;
  }

  input[value] {
    font-size: 15px;
  }

  .vendor, .product-name {
    vertical-align: top;
    display: inline-block;
    width: 200px;
  }

  .product-price, .product-unit, .product-amount {
    vertical-align: top;
    width: 100px;
    display: inline-block;
  }

  .actions {
    margin-top: 30px;
    display: inline-block;
    padding-left: 10px;

    .cancel-button {
      background-color: $cancel-red;
      font-size: 15px;
      margin-left: 8px;
    }
  }
}

.edit-row-form {
  td {
    border: none;
  }
}

.modal-form {
  width: 150%;
  @include clearfix;
  tr {
    width: 200px;
  }

  label {
    font-size: 16px;
  }

  input[value] {
    font-size: 15px;
  }

  .vendor, .product-name {
    display: inline-block;
    vertical-align: top;
    width: 200px;

    input {
      width: 200px;
    }
  }

  .product-price, .product-unit, .product-amount {
    display: inline-block;
    vertical-align: top;
    width: 100px;

    input {
      width: 90px;
    }
  }

  .actions {
    padding-top: 29px;
    display: inline-block;
    // display: inline;

    input, button {
      float: right;
      margin-left: 10px;
    }

    .cancel-button {
      display: inline;
      left: 0;
    }
  }
}

tr.edit-row-form {
  &:hover {
    background-color:white;
  }
}

.no-products {
    margin-top: 50px;
    color: transparentize($dark-red, .16);
}

td {
  padding-left: 20px;
}

.invoice-total {
  float: right;
  margin-right: 190px;
  margin-bottom: 50px;
}
