.shopping-cart-table {
  margin-left: 50px;
  width: 100%;

  ul {
    display: inline-block;
  }

  li {
    border-bottom: solid black 1px;
    // margin-top: 10px;

    &:hover {
       background-color: $light-red;
     }
  }

  p {
      display: inline;
    }

    .vendor-name {
      // font-size: 20px;
      margin-left: -30px;
      margin-bottom: 20px;
      margin-top: 50px;
      // background-color: red;
      border-bottom: solid black 1px;
    }

    .item-name {
      font-size: 1.2em;
    }

    .item-price {
      letter-spacing: 2px;
      color: $dark-red;
    }


  .cart-actions {
    a {
      padding: 10px;
      color: darken(red, 20);
    }
  }


  input[type="submit"] {
    float: right;
    margin-top: -49px;
    font-size: 14px;
    margin-right: 60px;
  }

  input[type="text"] {
    margin-top: 10px;
    width: 30%;
    padding-right: 50px;
    text-align: left;
    height: 35px;
  }
}


.cart-count {
  background-color: ($light-yellow);
  // top: 180px;
  right: 30px;
  bottom: 10px;
  padding: 15px;
  position: fixed;
  border-radius: 7px;
}

.form {
  margin-left: 50px;
}


input.fuzzy-search {
  margin-left: 20px;
  width: 50%;
}
