.vendor-name {
  font-size: 20px;
}
.shopping-cart-table {
  .cart-actions {
    a {
      padding: 10px;
      color: darken(red, 20);
    }
  }

  input[type=submit] {
    float: right;
    margin-top: -50px;
  }

  td input[type=text] {
    width: 30%;
    height: 100%;
  }

  .inside-cart {
    background-color: $light-green;
  }

}



