.vendor-name {
  font-size: 25px;
}
.shopping-cart-table {


  td {
    font-family: Arial;
  }

  .cart-actions {
    a {
      padding: 10px;
      color: darken(red, 20);
    }
  }

  input[type=submit] {
    float: right;
    margin-top: -50px;
  }

  td input[type=text] {
    width: 30%;
    height: 2.5em;
  }

  .insideCart {
    tr {
      background-color: red;
    }
  }
}



