.new-team-form {
  label {
    font-size: 1.5em;
  }
  margin-bottom: 20px;
}

.member-check-boxes {
  label {
    @include span-columns(2);
    font-size: 1em;
  }

  input[type="checkbox"] {
    @include span-columns(3);
  }
}

.team-name-label {
  clear: both;

}

.team-form-action {
  clear: both;
  padding-top: 20px;
  text-align: center;
}
