.new-team-form {
  label {
    font-size: 1.5em;
  }
  margin-bottom: 20px;
}

.member-check-boxes {
  label {
    font-size: 1em;
    @include span-columns(4);
  }

  input[type="checkbox"] {
    @include span-columns(5);
    width: 12px;
    padding-left: 50px;
    @include shift(1)
  }
}

.team-name-label {
  clear: both;
}

.team-form-action {
  clear: both;
  padding-top: 20px;
  text-align: center;
}
