.background_picture {
   background-image: url('cros2.jpg');
   background-repeat: no-repeat;
   // background-size: $large-screen;
   // border-image-height: 50%;
   // position: absolute;
   // height: 700px;
   // width: 100%;
  min-height: 100%;
  min-width: 1024px;
  max-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  margin-top: 300px;
  // position: absolute;
  top: 0;
  left: 0;
}

.welcome {
  // text-align: center;
  display:block;
  top: 0;
  left: 0;
  right: 100;
  position: absolute;
  margin-top: 100px;

  h1 {
    display:block;
    // font-family: $cursive;
    font-family: $serif;
    // color: $white;
    // background-color: $light-gray;
    // text-shadow: 2px 2px $dark-gray;
    font-size: 1.5em;
    // line-height: $base-line-height;

  }
}

