%header.centered-navigation
  .centered-navigation-wrapper
    %a.mobile-logo{:href => root_path} LP
    %a.centered-navigation-menu-button{:href => ""} MENU
    %ul.centered-navigation-menu
      - if signed_in?
        %li.nav-link.more
          %a{:href => "javascript:void(0)"} My Coop
          %ul.submenu
            %li
              %a{:href => members_path} All Members
            %li
              %a{:href => teams_path} My Team
            %li
              %a{:href => "javascript:void(0)"} My Account
        %li.nav-link
          %a{:href => vendors_path} Vendors
        %li.nav-link.logo
          %a.logo{:href => root_path} LP
        %li.nav-link
          %a{:href => events_path} Events
        %li.nav-link.more
          %a{:href => "javascript:void(0)"} Shop
          %ul.submenu
            %li
              %a{:href => shopping_carts_path} Current Cart
            %li
              %a{:href => "javascript:void(0)"} Shopping Cart History
          %li.nav-link
            =link_to "Sign Out", destroy_member_session_path, method: :delete, class: 'sign-out'
