%header.centered-navigation
  .centered-navigation-wrapper
    %a.mobile-logo{:href => root_path} LP
    %a.centered-navigation-menu-button{:href => ""} MENU
    %ul.centered-navigation-menu
      - if signed_in?
        %li.nav-link
          %a{:href => my_account_path} My Dashboard
        %li.nav-link.logo
          %a.logo{:href => root_path} LP

          %li.nav-link
            =link_to "Sign Out", destroy_member_session_path, method: :delete, class: 'sign-out'
